<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIQLT8p6LAWodUbjFn5e3a1zUVBAillgg</string>
	<key>GCM_SENDER_ID</key>
	<string>1079983840628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>syedaimankamran.Activity2-MovieAppJSON</string>
	<key>PROJECT_ID</key>
	<string>activity2movieapp</string>
	<key>STORAGE_BUCKET</key>
	<string>activity2movieapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079983840628:ios:8c0c8f85fad6618c79a021</string>
</dict>
</plist>